<h1>Enter Student Information</h1>

<div ng-controller="studentCtrl" class="entryForm">

<md-content layout="column">
  <md-content layout="row">
    <md-input-container>
      <label>First Name</label>
      <input/>
    </md-input-container>
    <md-input-container>
      <label>Last Name</label>
      <input/>
    </md-input-container>
  </md-content>

  <md-input-container>
    <label>Student ID</label>
    <input/>
  </md-input-container>

  <md-input-container>
    <label>Email</label>
    <input/>
  </md-input-container>

  <h1 class="md-title">Student Classification</h1>
  <md-radio-group ng-model="studentClassifications">
    <md-radio-button value="Undergraduate">Undergraduate</md-radio-button>
    <md-radio-button value="Graduate">Graduate</md-radio-button>
  </md-radio-group>

  <md-input-container>
    <label>Expected Graduation Year</label>
    <input/>
  </md-input-container>

  <!-- Class Entry  -->
  <h1 class="md-title">Student Schedule</h1>
  <div ng-repeat="course in courses">
    <div layout="row">
      <md-input-container>
        <label>Course ID</label>
        <input/>
      </md-input-container>
      <md-input-container>
          <label>Start Time</label>
          <md-select ng-model="selectedStartTime" md-selected-text="getSelectedStartTime()">
            <md-optgroup label="Start Times">
              <md-option ng-value="startTime" ng-repeat="startTime in startTimes">{{startTime}}</md-option>
            </md-optgroup>
          </md-select>
        </md-input-container>
        <md-input-container>
            <label>End Time</label>
            <md-select ng-model="selectedEndTime" md-selected-text="getSelectedEndTime()">
              <md-optgroup label="End Times">
                <md-option ng-value="endTime" ng-repeat="endTime in startTimes">{{endTime}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
    </div>
    <div layout="row">
      <md-checkbox ng-model="data.cb1" aria-label="Checkbox M">Monday</md-checkbox>
      <md-checkbox ng-model="data.cb2" aria-label="Checkbox T">Tuesday</md-checkbox>
      <md-checkbox ng-model="data.cb3" aria-label="Checkbox W">Wednesday</md-checkbox>
      <md-checkbox ng-model="data.cb4" aria-label="Checkbox R">Thursday</md-checkbox>
      <md-checkbox ng-model="data.cb5" aria-label="Checkbox F">Friday</md-checkbox>
    </div>
  </div>
  <md-button ng-click="addCourse()" style="width:120px;"><span>Add Course</span></md-button>

  <h1 class="md-title">Student Grades</h1>
  <div layout="row" ng-repeat="pastGrade in pastGrades">
    <md-input-container>
      <label>Course ID</label>
      <input/>
    </md-input-container>
    <md-input-container>
        <label>Grade</label>
        <md-select ng-model="selectedGrade" md-selected-text="getSelectedGrade()">
          <md-optgroup label="Grades">
            <md-option ng-value="grade" ng-repeat="grade in grades">{{grade}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
  </div>
  <md-button style="width:120px;" ng-click="addPastGrade()"><span>Add Grade</span></md-button>

  <div ng-controller="tagCtrl as ctrl">
  <h1 class="md-title">Student Tags</h1><br>
  <md-chips ng-model="ctrl.tags"
      readonly="ctrl.readonly"
      md-removable="ctrl.removable"
      placeholder="Enter a tag"
      delete-button-label="Remove Tag"
      delete-hint="Press delete to remove tag"
      secondary-placeholder="+Tag"></md-chips>
	</div>
  <br>
  <md-button class="md-raised md-primary">Submit</md-button>

  </md-content>
</div>
